@model SampleApplication.Models.UserModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UserModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JumpCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JumpCount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JumpHeight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JumpHeight)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
